.col {
    background-color: aqua;
} 

/*  */
.search-current-weather {
    border: 5px black solid
}

#city-name {
    font-size: 40px;
}

.lowUVI {
    background-color: chartreuse;
}

.moderateUVI {
    background-color: yellow;
}

.highUVI {
    background-color: red;
}



/*  */
#forecast-container {
    display: flex;
    justify-content: space-evenly;
}


.forecast-card {
    border: 5px black solid;

}